<!DOCTYPE HTML>
<html lang="zh-CN" ng-csp ng-app="player">
    <head>
        <meta charset="UTF-8">
        <title>豆瓣FM 精美版</title>
        <link rel="stylesheet" href="../css/popup.css" />
    </head>
    <body ng-controller="Player">
        <div>
            <div id="player" ng-style="{'background': 'url('+ song.picture+') no-repeat'}">
                <header>
                    <progress title="{{song.time | strftime}}" value="{{song.progress}}" min="0" max="100"></progress>
                    <p>{{song.source}}</p>
                    <h1>{{song.title}}</h1>
                </header>
                <section>
                    <a href="{{song.album}}"></a>
                    <p>{{message}}</p>
                    <select blink="channel">
                        <option ng-repeat="c in channel.list" value="{{c.channel_id}}" ng-selected="channel.setSelected(c)">{{c.name}}</option>
                    </select>
                </section>
                <footer>
                    <div class="left">
                        <a id="love" class="{{song.like}}">love</a>
                        <a id="trash">trash</a>
                    </div>
                    <div class="middle">
                        <a id="prev">prev</a>
                        <a id="play" class="{{song.isPlay | b2s:'pause'}}" ng-click="switch()">play</a>
                        <a id="next">next</a>
                    </div>
                    <div class="right">
                        <a id="sound">sound</a>
                        <a id="repeat" class="{{song.repeat}}">loop</a>
                    </div>
                    <input type="range" value="{{song.volume}}" />
                </footer>
            </div>
            <div id="list" ng-style="{'background': 'url('+song.picture+') no-repeat'}">
                <section>
                    <p ng-repeat="p in playlist.list" data-index="{{$index}}" class="{{playlist.setActive($index)}}">{{p.title}} - {{p.artist}}</p>
                </section>
            </div>
        </div>
        <div id="oauth"></div>

        <a id="left">left</a>
        <a id="right">right</a>

        <script src="../lib/angular/angular.js"></script>
        <script src="../js/channel.js" charset="utf-8" ></script>
        <script src="../js/underscore-min.js"></script>
        <script src="../js/zepto.min.js"></script>
        <script src="../js/backbone-min.js"></script>
        <script src="../js/oop.js"></script>
        <script src="../js/base64.js"></script>
        <script src="../js/slideshow.js"></script>
        <script src="../js/popup.js" charset="utf-8" ></script>
    </body>
</html>
