body {
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    width: 275px;
    height: 275px;
    margin: 0;
    background-size: 275px 275px;
    background-image: none;
	background-color: #eee;
    color: white;
}

header, footer, section {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

header {
    padding: 0;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    color: #139fd0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    text-indent: -9999px;
    display: inline-block;
    width: 25px;
    height: 25px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

#controller {
    overflow: hidden;
    margin-bottom: 5px;
}

#controller > div {
    width: 33%;
    float: left;
    text-align: center;
}

#play {
    background: url(../assets/play.png) no-repeat;
}

#next {
    background: url(../assets/next.png) no-repeat;
}

#prev {
    background: url(../assets/prev.png) no-repeat;
}

header div {
    width: 0;
    background-color: #139fd0;
    height: 5px;
}
